/* Base CSS */

@import url('https://fonts.googleapis.com/css?family=Roboto|Satisfy');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
body{
   /*   */
font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
  
}
body {

}
a:hover { text-decoration: none }

.section-padding{padding: 80px 0;}

.fodbox-info h3{  font-family: 'Satisfy', cursive;}

.foodbox-bg{background-image: url(../img/contact-bg.jpg);}
.foodbox-bg-1{background-image: url(../img/slider-2.jpg);}


.foodbox-bg {
    height: 300px;
    margin: 0 -15px;
}

.fodbox-info {
    background: #ecf0f1;
    padding: 30px;
    border-top: 4px solid #f39c12;
    margin-top: -100px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

a.bdr-btn {
    border: 1px solid #f39c12;
    color: #f39c12;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 30px;
}

p.food-price span {
    font-weight: 700;
    font-size: 30px;
    padding: 0 5px;
}

p.food-price {
    font-weight: 700;
}

.single-foodbox:hover .fodbox-info {
    background: #f39c12;
    color: #fff;
}

.single-foodbox:hover .fodbox-info a {
    color: #fff;
    border-color: #fff;
}

.single-foodbox:hover .fodbox-info h3 {
    color: #fed330;
}