/* Base CSS */

@font-face {
    font-family: "CodeBold";
    src: url("../fonts/CodeBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CodeLight";
    src: url("../fonts/CodeLight.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: normal;
    font-family: "CodeLight", sans-sarif;
}
body {
    font-family: 'Karla', sans-serif;
}
a:hover { text-decoration: none }

.product-bg-1{background-image: url(../img/lady-1.png);}
.product-bg-2{background-image: url(../img/lady-2.png);}
.product-bg-3{background-image: url(../img/lady-3.png);}
.product-bg-4{background-image: url(../img/lady-4.png);}
.product-bg-5{background-image: url(../img/lady-5.png);}
.product-bg-6{background-image: url(../img/lady-6.png);}
.product-bg-7{background-image: url(../img/lady-7.png);}
.product-bg-8{background-image: url(../img/lady-8.png);}
.product-bg-9{background-image: url(../img/lady-9.png);}
.product-bg-10{background-image: url(../img/lady-10.png);}
.homapage-slider-wrap{background-image: url(../img/hero-bg.jpg);}


.header-top-area a {color: #5b4060;padding: 15px;display: inline-block;}

.header-top-area {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

.header-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-left ul li {
    display: inline-block;
}

.header-top-area a.menu-trigger {
    display: none;
}

.header-right {
    text-align: right;
}

a.search-trigger i.fa {
    padding-left: 10px;
}


.homapage-slider-wrap {
    background-color: #c9d4cf;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

html, body {
    height: 100%;
}
.single-slide-item {
    position: relative;
}
.single-slide-item img {
    bottom: 0;
    left: 50%;
    margin-left: -350px;
    position: absolute;
    width: 700px;
}
.slide-text-table {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 9;
}
.homapage-slider-wrap div {
    height: 100%;
}
.slide-text-tablecell {
    color: #e55288;
    display: table-cell;
    font-family: codelight,sans-serif;
    font-size: 120px;
    line-height: 100px;
    padding-left: 15%;
    vertical-align: middle;
}
.slide-text-tablecell strong {
    font-family: codebold,sans-serif;
    font-weight: normal;
}
.slider-alternative-color {
    color: #6fb0c5;
}
.header-top-area {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.big-menu {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.big-menu li {
    background: #cef3eb none repeat scroll 0 0;
    display: inline-block;
    font-family: codelight;
    font-size: 50px;
    width: 29%;
}
.big-menu > li a {
    display: block;
    padding: 170px 30px 30px;
    text-align: right;
    transition: all 0.3s ease 0s;
}
.big-menu li:nth-child(2) a {
    background: #f0e5e5 none repeat scroll 0 0;
    color: #e55288;
    font-family: codebold;
}
.big-menu li:nth-child(3) {
    background: #f6f3e6 none repeat scroll 0 0;
}
.big-menu li:nth-child(4) {
    background: #ecf4f5 none repeat scroll 0 0;
}
.big-menu li:nth-child(2), .big-menu li:nth-child(3) {
    width: 20%;
}
.big-menu a:hover {
    opacity: 0.5;
}
