/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }]

.section-padding {
    padding: 80px 0;
}

.section-heading {
    text-align: center;
    margin-bottom: 50px;
}

body {
    font-weight: 400;
}

.section-heading h2 {
    font-size: 40px;
    font-weight: 700;
}

.single-team-item {
    border: 2px solid #e8e8e8;
}

.team-social-icons {
    background: #5BA939;
    text-align: center;
    padding: 5px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -25px;
    position: relative;
}

.team-social-icons a {
    display: inline-block;
    border: 1px solid;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.single-team-item h4 {
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}

.single-team-item h4 span {
    display: block;
    font-size: 80%;
    font-weight: 300;
    color: #5ba939;
}