/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

body {
    background: #f5f6f9;
}

.promoboxs-wrapper {
    margin-left: -15px;
    overflow: hidden;
}

.single-promo-box {
    height: 300px;
    width: 50%;
    float: left;
    display: table;
    text-align: center;
}

.promobox-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.single-promo-box:nth-child(2) {
    background: pink;
}

.single-promo-box:nth-child(3) {
    background: skyblue;
}

i.xti:before {
    font-size: 60px;
}

.single-promo-box h2 {
    font-weight: 700;
    font-size: 28px;
    position: relative;
    z-index: 1;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

a.boxed-btn {
    background: skyblue;
    color: #fff;
    padding: 15px 35px;
    border-radius: 50px;
    display: inline-block;
    /* text-transform: uppercase; */
}

.single-promo-box h2:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 3px;
    background: #333;
    content: '';
    margin-left: -25px;
}

.single-promo-box:hover .boxed-btn {visibility: visible;opacity: 1;}

.single-promo-box .boxed-btn {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.promobox-tablecell {
    padding-top: 40px;
    transition: 0.3s;
}

.single-promo-box:hover .promobox-tablecell {
    padding-top: 0;
}

.single-promo-box {
    background: #fff;
}

.single-promo-box:nth-child(2),.single-promo-box:nth-child(3) {
    color: #fff;
}

.single-promo-box:nth-child(2) h2:before, .single-promo-box:nth-child(3) h2:before {
    background: #fff;
}

.right-side-content {
    padding-left: 50px;
    padding: 135px 0;
}

.section-title h3 {
    font-size: 20px;
    margin: 10px 0;
}

.section-title h2 {
    font-size: 40px;
}
