/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Open Sans', sans-serif;
}
a:hover { text-decoration: none }


.s-padding {
    padding: 80px 0;
}
.section-borders span {
    background: #22b14c none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    width: 50px;
}
.section-borders .black-border {
    background: #333 none repeat scroll 0 0;
    width: 30px;
}
.section-title {
    margin-bottom: 50px;
    text-align: center;
}
.section-title h2 {
    font-size: 35px;
}
.client-testimonial-carousel .owl-dots div {
    background: #22b14c none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin: 2px;
    transition: all 0.2s ease 0s;
    width: 20px;
}
.client-testimonial-carousel .owl-dots .owl-dot.active {
    background: #333 none repeat scroll 0 0;
    width: 30px;
}
.owl-dots {
    margin-top: 30px;
    text-align: center;
}
.single-testimonial-item {
    box-shadow: 0 0 5px #ddd;
    font-style: italic;
    margin: 5px;
    padding: 20px;
}
.single-testimonial-item:before{
    font-family: fontAwesome;
    content:"\f10e";
}
.single-testimonial-item h3 {
    font-size: 20px;
    font-style: normal;
}
.single-testimonial-item h3 span {
    color: #444;
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
}


.single-testimonial-item {
    padding-left: 80px;
    position: relative;
}
.single-testimonial-item::before {
    color: #22b14c;
    font-size: 20px;
    left: 20px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}
.single-testimonial-item::after {
    background: #ddd none repeat scroll 0 0;
    content: "";
    height: 80%;
    left: 60px;
    position: absolute;
    top: 10%;
    width: 2px;
}
