/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.main-section{
    height: 1000px;
    background: #eee;
    margin-bottom: 250px;
    position: relative;
    z-index: 888;
}
.footer-sectioen{
    height: 250px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #999;
    z-index: 1;
    color:#000;

}