/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padidng {
    padding: 80px 0;
}

body {
    color: #878787;
}

h1 {
    color: #333;
}

.bigger-text {
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    padding: 0 70px;
}

.bigger-text h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1.2;
}

a.box-btn {
    color: #fff;
    background: blue;
    padding: 15px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    margin-top: 15px;
    display: inline-block;
}

.shadow-gallery img:nth-child(2),.shadow-gallery img:nth-child(3) {
    position: absolute;
    right: 0;
    bottom: 0;
}

.shadow-gallery {
    position: relative;
    padding-top: 30px;
}

.shadow-gallery img:nth-child(3) {
    z-index: 3;
    width: 70%;
    right: auto;
    left: -50px;
    bottom: -75px;
}

.shadow-gallery img {
    position: relative;
    z-index: 1;
    width: 50%;
    box-shadow: 0 0 10px;
}

.shadow-gallery img:nth-child(2) {
    z-index: 2;
}

.shadow-gallery img:nth-child(1) {
    top: -50px;
}