/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
body {

}
a:hover { text-decoration: none }

.section-bg{
    background-color: #fafafa;
}

.service-bg-1{
    background-image: url(http://placehold.it/500x500);
}


.spadding {
    padding: 80px 0;
}
.section-title h2 {
    color: #373737;
    font-size: 25px;
    font-weight: bold;
}
.section-title {
    margin-bottom: 50px;
}
.single-service-item {
    background: #fff none repeat scroll 0 0;
    transition: 0.2s;
}
.service-bg {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    height: 225px;
}
.service-content {
    padding: 20px;
}
body {
    color: #9c9c9c;
}
.read-more-btn {
    background: #fff none repeat scroll 0 0;
    border-radius: 50px;
    color: #39ca74;
    display: inline-block;
    font-weight: 700;
    padding: 10px 0;
    transition: all 0.3s ease 0s;
}
.read-more-btn i.fa {
    padding-left: 5px;
}
.read-more-btn:hover {
    background: #39ca74 none repeat scroll 0 0;
    color: #fff;
    padding: 10px 20px;
}
.single-service-item:hover {
    box-shadow: 0 0 5px #39ca74;
}
