/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding{padding: 80px 0;}

.single-portfolio-item{background-image: url(../img/slider-2.jpg);}

.heroa-area {
    background: #1D1E20;
    padding-bottom: 100px;
    padding-top: 220px;
}

.logo {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2px;
}

.header-area a {
    color: #fff;
}

.header-area.header-abs {
    background: #1D1E20;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 50px 0;
}

.main-menu {
    text-align: right;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-menu li a {
    display: block;
    padding-right: 0;
    padding-left: 30px;
    padding: 18px 25px;
}

.heroa-area p,.heroa-area a {
    color: #999;
    font-size: 20px;
}

.heroa-area h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.6;
}

.heroa-area h2 span {
    color: #E3BB1E;
}

.y-bg {
    background: #E3BB1E;
    color: #fff;
}

.single-portfolio-item {
    height: 300px;
    margin-left: 2%;
    width: 60%;
    display: inline-block;
    margin-top: 2%;
}

.portfolio-list {margin-left: -2%;overflow: hidden;}

.single-portfolio-item.small-item {
    width: 35%;
}

.content-block h2 {
    /* text-align: center; */
}

.single-portfolio-item {
    background-size: cover;
    background-position: center;
}

.d-bg,.d-bg a {
    background: #1D1E20;
    color: #777;
}

.d-bg h2 {
    color: #fff;
}

a.borderd-btn {
    color: #E3BB1E;
    border: 1px solid #E3BB1E;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
}

.footer-area {
    border-top: 1px solid #777;
    padding: 20px 0;
}

.social-icon i {
    font-size: 20px;
    padding: 0 5px;
}