/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.single-project-item{
    background-image: url(http://placehold.it/450x450);
}


.section-padding {
    padding:  80px 0;
}

.project-filter {
    margin:  0 0 50px;
    padding:  0;
    list-style:  none;
    text-align:  center;
}

.project-filter li {
    font-weight:  700;
    color:  #222;
    display:  inline-block;
    border-bottom: 2px solid transparent;
    margin: 0 10px;
    cursor: pointer;
}

.project-filter li.active {
    border-color:  #222;
}

.single-project-item {
    background-size:  cover;
    background-color:  #333;
    background-position:  center;
    height: 250px;
    margin-bottom:  30px;
    display:  table;
    width:  100%;
    position:  relative;
    z-index:  1;
}

.project-hover {
    display: table-cell;
    vertical-align:  middle;
    text-align:  center;
    position:  relative;
    z-index:  1;
    transition: 0.3s;
    text-transform:  lowercase;
    font-weight:  300;
    transform: scale(0.8);
    opacity:  0;
    visibility:  hidden;
}

.project-hover:after {
    position:  absolute;
    left:  0;
    top: 0;
    width:  100%;
    height:  100%;
    content:  '';
    background-color: #333;
    opacity:  0.2;
}

.project-hover h2 {
    font-size:  20px;
    font-weight:  600;
}

.project-hover p:last-child {
    margin:  0;
}

.single-project-item:before {
    position:  absolute;
    right:  0;
    width:  80px;
    height:  80px;
    content:  '';
    border-right: 1px solid;
    border-top:  1px solid;
    transition:  0.3s;
    opacity:  0;
    visibility:  hidden;
}

.single-project-item:after {
    position:  absolute;
    width:  80px;
    height:  80px;
    content:  '';
    border-left: 1px solid;
    border-bottom:  1px solid;
    left:0;
    bottom:0;
    opacity:  0;
    visibility:  hidden;
    transition:  0.3s;
}

.single-project-item:hover .project-hover {
    opacity:  1;
    visibility:  visible;
    transform:  scale(1);
}

.single-project-item:hover:before,.single-project-item:hover:after {
    opacity:  1;
    visibility:  visible;
}